.field-group {
  margin: .5em 0;
  border-bottom: 1px solid lightgray;
}

.field-group label {
  margin: .5em 0;
}

.field-group input {
  height: 30px;
  width: 100%;
  // border-radius: 5px;
  border: 1px solid lightgray;
  padding: 0 5px;
  text-transform: uppercase;
}

input:invalid {
  background-color: #ff000033;
}

.field-group small {
  display: block;
  color: darkgray;
  font-size: 11px;
  margin: 5px 0;
}

