html {
  font-size: 13px;
}

body {
  background-color: rgb(240,240,240);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#canvas {
}


#sideBar {
  padding: 10px;
  height: 100vh;
  width: 150px;
  overflow: auto;
  border-right: 1px solid lightgray;
}


#dataGridContainer {
  width: calc(100% - 150px);
  position: fixed;
  top: 0;
  left: 150px;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
}


#dataGrid {
  padding: 0;
  table-layout: fixed;
}


#dataGridTitle {
  background-color: rgb(240,240,240);
  z-index: 1;
}


tr {
  max-height: 1em;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td_caseId {
  width: 120px;
}
.td_status {
  width: 240px;
}

.td_form {
  width: 120px;
}

.td_title {
}
.td_date {
  width: 200px;
}

.td_raw {
  width: 150px;
}
.td_pre {
  display: none;
}
