.container-user-agreement {
  position: fixed;
  z-index: 9999;
  background-color: white;
  font-size: 1.2em;
  padding: 3em;
  box-shadow: 0 0 0 calc(50vw + 50vh) rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  max-width: 1000px;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}

div.head {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

div.body {
  padding: 2em;
}

div.foot {
  text-align: center;
}
