<div class="container-user-agreement disable-select">
  <div class="head">
    <fa-icon [icon]="faExclamationCircle"></fa-icon> Disclaimer
  </div>

  <div class="body">
    <p style="color: darkred;">
      Sending a large amount of requests to USCIS server may be considered as a
      Denial of Service attack to the USCIS system.<br />
      If you do not fully understand what that means, you are strongly advised
      not to use this software.
    </p>
    <p>
      The software is provided freely on an "as is" and "as available" basis,
      and you agree that you use such software entirely at your own risk.
    </p>
    <p>
      The author gives no warranty and accepts no responsibility or liability
      for the compliance of the terms of USCIS. Under no circumstances will the
      author be held responsible or liable in any way for any claims, damages,
      losses, expenses, costs or liabilities including, without limitation, any
      direct or indirect damages for loss of profits, business interruption,
      loss of information or suspension of accounts resulting or arising
      directly or indirectly from your use of or inability to use this software
      or any tools derived from it.
    </p>
    <p style="color: darkred;">The author is not affiliated with USCIS.</p>
    <p>All rights reserved.</p>
  </div>

  <div class="foot">
    <button class="btn btn-danger btn-lg" (click)="accept()">
      Accept and Continue
    </button>
  </div>
</div>
