.panel-title {
  text-align: left;
  padding: 0 2px;
}
.panel-title > * {
  margin: 2px;
}

.panel-title button:not(.btn-freeWidth) {
  width: 80px;
}

.panel-title button:disabled {
  opacity: 0.3;
}

.panel-title .input-threads {
  width: 80px;
}

.container-records {
  position: fixed;
  width: 100%;
  height: calc(100vh - 30px);
  overflow-x: scroll;
  overflow-y: scroll;
}
