.dimmingBackground {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: #0000004f;
  z-index: 10;
}

.detailView {
  padding: 3em;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #eeeeee;
  z-index: 11;
}
