ul {
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: none;
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  background-color: white;
}

li {
  height: 30px;
  line-height: 28px;
  cursor: pointer;
  padding: 2px 5px;
  border-bottom: 1px solid lightgray;
  background-color: #eeeeee;
}
li:hover {
  background-color: #00000011;
}