<div class="sidePanel">
  <form ngNativeValidate (submit)="start()">

    <div class="field-group">
      <label>USCIS Receipt Number</label>
      <small>Enter your USCIS case receipt number here, as the base case ID.</small>
      <input type="text" name="baseCaseID" [(ngModel)]="config.baseCaseID" (change)="saveConfig()" pattern="([A-Za-z]{3})(\d{10})" maxlength="13" required>
      <small>Example: WAC1234567890</small>
    </div>

    <div class="field-group">
      <label>Previous _ Cases</label>
      <small>Check _ case IDs with smaller case IDs.</small>
      <input type="number"  name="previousCases" [(ngModel)]="config.previousCases" (change)="saveConfig()" max="2000000" min="0" required>
      <small>Range: 0 - 2000000 (50000)</small>
    </div>

    <div class="field-group">
      <label>Next _ Cases</label>
      <small>Check _ case IDs with greater case IDs.</small>
      <input type="number"  name="nextCases" [(ngModel)]="config.nextCases" (change)="saveConfig()" max="500000" min="0" required>
      <small>Range: 0 - 500000 (10000)</small>
    </div>

    <div class="field-group">
      <label>Step Width</label>
      <small>Skip _ case IDs for every 1 request.</small>
      <input type="number"  name="stepWidth" [(ngModel)]="config.stepWidth" (change)="saveConfig()" max="100000" min="1" required>
      <small>Range: 1 - 100000 (1000)</small>
    </div>

    <div class="field-group">
      <label>Threads</label>
      <small>Run in parallel to speed up the progress.</small>
      <input type="number"  name="semaphore" [(ngModel)]="config.semaphore" (change)="saveConfig()" max="50" min="1" required>
      <small>Range: 1 - 50 (10)</small>
    </div>

    <div class="field-group">
      <div style="text-align: center; margin: .5em 0;">Status: <strong>{{ state | titlecase }}</strong></div>
      <button class="btn btn-start" [disabled]="state==='running' || state==='paused'" >Start</button>
      <button type="button" class="btn btn-pause" (click)="pause()" [disabled]="state==='paused' || state==='stopped'">Pause</button>
      <button type="button" class="btn btn-resume" (click)="resume()" [disabled]="state==='running' || state==='stopped'">Resume</button>
      <button type="button" class="btn btn-stop" (click)="stop()" [disabled]="state==='stopped'">Stop</button>
    </div>

  </form>

</div>
<div class="mainPanel">

  <div class="actionBar">
    <!-- <div class="btn btn-saveToCloud" (click)="saveResultsToCloud()" [class.disabled]="!sessionService.token">Save Results</div> -->
    <button class="btn btn-saveAsCSV" (click)="saveResultsAsCSV()" [class.disabled]="!sessionService.token"><i class="fas fa-download"></i> Save result as CSV file</button>

    <!-- session buttons -->
    <button class="btn btn-session btn-signIn" *ngIf="!sessionService.token" (click)="signIn()"><i class="far fa-user-circle"></i> Sign in to save your config and results</button>

    <button class="btn btn-session btn-signOut" *ngIf="sessionService.token" (click)="sessionService.signOut()"><i class="far fa-times-circle"></i> Sign out</button>
    <button class="btn btn-session btn-profile" *ngIf="sessionService.token" (click)="sessionService.userProfile()"><i class="fas fa-user-circle"></i> {{ sessionService.username ? sessionService.username : sessionService.email }}</button>

  </div>


  <table class="dataTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th *ngFor="let time of activityTimes">{{ time }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let caseId of Object.keys(caseList)">
        <td>{{ caseId }}</td>
        <td>{{ caseList[caseId]['type'] }}</td>
        <td *ngFor="let time of activityTimes">
          <span *ngIf="caseList[caseId].activity[time]">{{ caseList[caseId].activity[time]['status'] }}</span>
        </td>
      </tr>
    </tbody>
  </table>



</div>
