<div class="sidePanel">

</div>
<div class="mainPanel">
  <div class="actionBar">

    <div class="btn btn-session btn-signIn" *ngIf="!sessionService.token" (click)="sessionService.signIn()">Sign in to save your results</div>

    <div class="btn btn-session btn-signOut" *ngIf="sessionService.token" (click)="sessionService.signOut()">Sign Out</div>
    <div class="btn btn-session btn-profile" *ngIf="sessionService.token" (click)="sessionService.userProfile()">{{ sessionService.username }}</div>
  </div>

</div>
