.container-root {
  width: 100vw;
  height: 100vh;
}

.container-popups {
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.container-case-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  border-right: 1px solid lightgray;
}

.container-activity-list {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100vw - 200px);
  height: 100vh;
}
