.container-root {
  width: 100vw;
  height: 100vh;
}

.container-popups {
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.container-case-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  border-right: 1px solid lightgray;
}

.container-activity-list {
  position: fixed;
  top: 0;
  left: 200px;
  width: 200px;
  height: 100vh;
  border-right: 1px solid lightgray;
}

.container-status-list {
  position: fixed;
  top: 0;
  left: 400px;
  height: 100vh;
  width: calc(100% - 400px);
}

.container-toast {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  width: 300px;
  height: 100vh;
  z-index: 9999;
}
