/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 12px;
}


.disable-select {
  user-select: none;
}


.panel-title {
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}
