

.mainTitle {
  z-index: 5;
  position: fixed;
  display: flex;
  top: 30px;
  width: 200px;
  height: 30px;
  border-right: 1px solid lightgray;
}

.caseList {
  width: 200px;
  position: absolute;
  top: 30px;
  border-right: 1px solid lightgray;
}


.horizontal-scrolling-container {
  position: fixed;

}


.activityTitle {
  display: flex;
  left: 600px;
  height: 30px;
  position: fixed;
  z-index: 3;
}

.statusTable {
  position: absolute;
  top: 30px;
  left: 200px;
  white-space: nowrap;
  display: flex;
}



.grid {
  display: inline-block;
  height: 30px;
  line-height: 28px;
  max-width: 200px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 2px;
}

.title {
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.caseId {
  width: 130px;
}
.caseType {
  width: 70px;
}


.case {
  display: flex;
  height: 30px;
  position: relative;
}
.case:nth-child(2n) {
  background-color: #f2f2f2;
}

.case > div {
  display: inline-block;
}
.case > span.caseStatus {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.activityColumn {
  width: 200px;
  display: inline-block;
}
.activity {
  width: 250px;
  text-overflow: ellipsis;
}

.activityColumn > div {
  cursor: pointer;
}

.activityColumn > div:nth-child(2n) {
  background-color: #f2f2f2;
}

