
<div class="mainTitle">
  <div class="grid title caseId">Receipt #</div>
  <div class="grid title caseType">Case Type</div>
</div>


<div class="caseList">
  <div class="case" *ngFor="let caseId of Object.keys(uscisService.caseList)">
    <div class="grid caseId">{{ caseId }}</div>
    <div class="grid caseType">{{ uscisService.caseList[caseId].type ? uscisService.caseList[caseId].type : '-' }}</div>
  </div>
</div>


<div class="activityTitle">
  <div class="grid title activity" *ngFor="let activity of caseFilterService.displayingActivities">{{ activity }}</div>
</div>

<div class="statusTable">
  <div class="activityColumn" *ngFor="let activity of caseFilterService.displayingActivities">
    <div class="grid case" *ngFor="let caseId of Object.keys(uscisService.caseList)">
      <span class="caseStatus"
        *ngIf="uscisService.caseList[caseId].activity[activity]"
        title="{{ uscisService.caseList[caseId].activity[activity].status }}"
        (click)="
          uscisService.detail = [
            caseId,
            activity,
            removeHtmlTag(uscisService.caseList[caseId].activity[activity].detail),
            uscisService.caseList[caseId].activity[activity].original
          ]">
        {{ uscisService.caseList[caseId].activity[activity].status }}
      </span>
    </div>
  </div>

</div>
